<a href="https://colab.research.google.com/github/conquerv0/Pynaissance/blob/master/1.%20Basic%20Framework/Pandas_Guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Analysis with Pandas**

Pandas provides a range of toolkit for data analysis through the two basic pandas data strucutures: DataFrame and Series. This guide introduces the basic characteristics of the two classes and explores the capacity Pandas provides through these two classes and other powerful functions.

**I. DataFrame**

The DataFrame class can efficiently handle data in tabular form, similar to a relational database and an Excel spreadsheet.

In [ ]:
import pandas as pd
# Defining a dataframe with specified column label and index values.
df = pd.DataFrame([400, 200, 90, 300], 
                  columns=['Price'], 
                  index=['a', 'b', 'c', 'd'])

# Index and Columns attribute and object.
df.index
df.columns

# Get value at the specified index
df.loc['c']
df.iloc[1:3]

# Calculate the sum of a column
df.sum()

# Use apply method to calculate in a vectorized fashion
df.apply(lambda x: x ** 2)
df**2 

# Modifying dataframe by adding columns of different object, 
# even df object is possible. The indices will be aligned automatically.
df['put/call'] = (0.3, 0.5, 0.8, 0.2)
df['ticker'] = pd.DataFrame(['TSLA', 'AMD', 'AAPL', 'BABA'], 
                            index=['a', 'c', 'b', 'd'])

"""
Note that appending other data to the pandas dataframe work similarly.
However, appending some data structure such as dictionary, 
incomplete data can results in loss of index information 
and NaN values respectively.
"""

df

# Calculate the mean over the columns specified.
df[['Price','put/call']].mean()
df[['Price','put/call']].std()

   Price  put/call ticker
a    400       0.3   TSLA
b    200       0.5   AAPL
c     90       0.8    AMD
d    300       0.2   BABA

In [ ]:
import numpy as np

# Set up a normally distributed random number ndarray.
np.random.seed(100)
a = np.random.standard_normal((9,4))

# Creating the dataframe from ndarray object.
df = pd.Dataframe(a)

# This process can be "undone", that is, ndarray can be created from df.
df.values
np.array(df)

DateTimeIndex object can be generated by date_range function. The frequency parameter that can be taken are as followed:

B Business day frequency

C Custom business day frequency

D Calendar day frequency

**2. Basic Analytics**

In [ ]:
# Get metainformation regarding the data.
df.info()

# Get summary statistics per columns. 
df.describe()

# Calculate differents sums and means.
df.sum()
df.mean()
df.mean(axis=0)

# Row-wise mean
df.mean(axis=1)

# Column-wise cumulative mean.
df.cumsum()

In general, Pandas DataFrame object also support NumPy Universal functions, similar to applying such operations to an ndarray objects that contain the same type of data.

In [ ]:
# Column-wise mean
np.mean(df)

# Element-wise natural logarithm
np.log(df)

# Element-wise square root for the absolute values.
np.sqrt(abs(df))