<a href="https://colab.research.google.com/github/conquerv0/Pynaissance/blob/master/1.%20Basic%20Framework/Pandas_Guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Analysis with Pandas**

Pandas provides a range of toolkit for data analysis through the two basic pandas data strucutures: DataFrame and Series. This guide introduces the basic characteristics of the two classes and explores the capacity Pandas provides through these two classes and other powerful functions.

**I. DataFrame**

The DataFrame class can efficiently handle data in tabular form, similar to a relational database and an Excel spreadsheet.

In [3]:
import pandas as pd
# Defining a dataframe with specified column label and index values.
df = pd.DataFrame([400, 200, 90, 300], 
                  columns=['Price'], 
                  index=['a', 'b', 'c', 'd'])

# Index and Columns attribute and object.
df.index
df.columns

# Get value at the specified index
df.loc['c']
df.iloc[1:3]

# Calculate the sum of a column
df.sum()

# Use apply method to calculate in a vectorized fashion
df.apply(lambda x: x ** 2)
df**2 

# Modifying dataframe by adding columns of different object, 
# even df object is possible. The indices will be aligned automatically.
df['put/call'] = (0.3, 0.5, 0.8, 0.2)
df['ticker'] = pd.DataFrame(['TSLA', 'AMD', 'AAPL', 'BABA'], 
                            index=['a', 'c', 'b', 'd'])

df

   Price  put/call ticker
a    400       0.3   TSLA
b    200       0.5   AAPL
c     90       0.8    AMD
d    300       0.2   BABA